ul {
	display:inline-block;
	padding-left:0px;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom:0px;
}
li:last-child {
	border-right:none;
	padding-right: 0px;
}

a {
	color:rgb(120,0,0);
}
/*
.navlinks {
	list-style: none;
	color:yellow;
	text-decoration: underline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	display:inline-block;
	position:relative;
	vertical-align:top;
	border-right: solid yellow 1px;
	padding-right: 8px;
}*/
/*
.navlinks2 {
	list-style: none;
	color:darkgrey;
	text-decoration: underline;
	font-size: 12px;
	font-family: "Arial Black", Gadget, sans-serif;
	display:inline-block;
	position:relative;
	vertical-align:top;
	margin-top:5px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 12px;
	padding-right: 12px;
	border-right: solid grey 1px;
	top:0px;
}*/

#logo_font {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	color:white;
	display:inline-block;
	vertical-align:top;
	margin-top: 25px;
}

#logo_block {
	display:inline-block;
	width:600px;
	padding-bottom: 15px;
	margin-top: 15px;
}

#nav_block {
	display:inline-block;
	width:300px;
	text-align: right;
	vertical-align: top;
	margin-top:30px;
}

#nav_block li {
	list-style: none;
	color:yellow;
	text-decoration: underline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	display:inline-block;
	position:relative;
	vertical-align:top;
	border-right: solid yellow 1px;
	padding-right: 8px;
}

#header{
	background-color: rgb(120,0,0);
	width: 970px;
	height:100px;
	display:inline-block;
	margin:0px;
}

#nav_label {
	color: white;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	display:inline-block;
	position:relative;
	vertical-align:top;
}

#nav_block2 {
	background-color: lightgrey;
	width:970px;
	height:30px;
	display:inline-block;
	border: 1px solid darkgrey;
	margin:0px;
}

#nav_block2 li {
	list-style: none;
	color:darkgrey;
	text-decoration: underline;
	font-size: 12px;
	font-family: "Arial Black", Gadget, sans-serif;
	display:inline-block;
	position:relative;
	vertical-align:top;
	margin-top:5px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 12px;
	padding-right: 12px;
	border-right: solid grey 1px;
	top:0px;
}
#search_box {
	display:inline-block;
	position:relative;
	margin-top:5px;
	margin-right:0px;
	padding-top: 0px;
	padding-right: 0px;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
}

#search_button {
	background-color: rgb(120,0,0);
	border: 1px solid white;
	color: white;
	font-size: 12px;
	margin-top: 5px;
	vertical-align:top;
}

#body_wrapper {
	display: inline-block;
	width:970px;
	margin:0px;
	padding:0px;
}

#navboxleft {
	vertical-align: top;
	display:inline-block;
	width:150px;
	border: solid grey 1px;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 15px;
	background-color: lightgrey;
}

#navboxleft li {
	margin-left:30px;
	color:rgb(120,0,0);
	text-decoration: underline;
	font-size: 12px;
	font-family: "Arial", Gadget, sans-serif;
	vertical-align:top;
	padding: 5px 5px 2px 10px;
}

#navboxleft li:last-child {
	padding-bottom: 10px;
}

#body_text {
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
	width:600px;
	font-family: "Arial", Gadget, sans-serif;
}

#body_text h1 {
	color: rgb(120,0,0);
	font-size: 18px;

}

#body_text h2 {
	color:rgb(120,0,0);
	font-size: 14px;
}

#body_text p {
	font-size: 12px;
}

#body_text li {
	color:black;
	text-decoration: underline;
	font-size: 12px;
	margin-left: 40px;
}


#inset {
	border-top: 2px grey solid;
	border-bottom: 2px grey solid;
}

#inset li:last-child {
	padding-bottom: 5px;
}