* {
    font-family: sans-serif;
    margin:0px;
    padding:0px;
}

body {
    width: 970px;
    padding: 100px;
}

h1 {
    text-align: center;
    margin-bottom:75px;
}

#tableTitle {
    margin-bottom:15px;
}

h2 {
    margin-bottom: 10px;
    margin-left:25px;
    text-align: left;
    display: block;
}

h6 {
    color:red;
}


.inputField {
    display:block;
    height:45px;
    margin-bottom:25px;
    width:500px;
}


.submitBtn {
    width:100px;
    height: 25px;
    padding:5px;
    font-weight: bold;
    background-color: lightgreen;
}

table {
    width: 900px;
    border:1px solid black;
}

th {
    border-bottom: 1px double black;
}
td {
    width: 50px;
}

.row0 {
    background-color:lightgrey;
}

form {
    border:1px solid black;
    display: block;
    padding:25px;
    margin-bottom: 50px;
    width:850px;
    display: inline-block;
}

#formValues {
    width:900px;
    display: inline-block;
}

.verifyForm {
    width: 100px;
    display: inline-block;
    border:none;
    outline:none;

}

#submitBtn2 {
    width:300px;
    height: 25px;
    padding:5px;
    font-weight: bold;
    background-color: lightgreen;
}
